@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body
{
    font-size: 18px;
}
main
{
    width: 100%;
    min-height: 100vh;
    /* display: flex; */
}
.left
{
    height: 250px;
    background: url(./images/bg-main-mobile.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.cards
{
    width: 92%;
    margin-top: 15%;
    position: relative;
}
.back
{
    background: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 285px;
    height: 175px;
    position: absolute;
    right: 1%;
}
.front
{
    background: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* overflow: hidden; */
    width: 285px;
    height: 175px;
    position: absolute;
    top: 5.4rem;
}
#cardCvc
{
    position: absolute;
    right: 12%;
    top: 4.3rem;
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.front
{
    padding: 1.1rem;
    /* padding-bottom: 0; */
    color: white;
    font-size: 0.5rem;
}
.logo
{
    width: 50px;
}
.text-content
{
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-left: 5px;
}
.name
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardNo
{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.cardName
{
    font-weight: 400;
    letter-spacing: 1px;
}
span
{
    font-size: 0.6rem;
    letter-spacing: 1px;
}
.right
{
    width: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
}
form
{
    width: 85%;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
label
{
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
    color: hsl(278, 68%, 11%)   ;
}
input
{
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid hsl(270, 3%, 87%);
    margin-bottom: 1.2rem;
    width: 100%;
}
.expiry
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
button{
    padding: 15px;
    background-color: hsl(278, 68%, 11%)   ;
    color: white;
    border: none;
    border-radius: 7px;
    width: 100%;
    margin-top: 1.3rem;
    font-size: 1rem;
}
.date
{
    display: flex;
    flex-direction: column;
}
.mm,.yy
{
    width: 50%;
}
.my
{
    display: flex;
    gap: 10px;
}
label.cvc
{
    /* margin-bottom: 30px; */
}
.cvc 
{
    display: flex;
    flex-direction: column;
}